/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/*
  #Address
*/

.address {
  display: flex;
  align-items: start;
  flex-direction: column;
  font-style: normal;
  width: 15rem;
  line-height: 1.5rem;
}

/*
  #Link
*/

.link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.link_active {
  border-bottom: none;
}

/*
  #Button
*/

.bet-button {
  max-height: 3.25rem;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 1.375rem;
  padding: 0.75rem 2rem;
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
}

/*
  #Typography
*/

.h2 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: bold;
}

/*
  #Card
*/

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background: url(../images/card-lot-02.jpg);
}

.card_type_art {
  background: url(../images/card-lot-03.jpg);
}

.card {
  z-index: 1;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.125rem 2.5rem;
  height: 100%;
  background-size: cover;
}

.card__title {
  font-size: 1.375rem;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.card__description {
  font-size: 1.25rem;
  line-height: 1.2;
}
