/*------------------------------------*\
  #COVER
\*------------------------------------*/

.cover {
  z-index: 1;
  position: relative;
  color: #fff;
  padding-top: 10.3125rem;
  padding-bottom: 3.125rem;
  display: flex;
  flex-direction: column;
  gap: 8.4375rem;
  background: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.cover__title {
  font-size: 6.25rem;
  font-weight: bold;
  letter-spacing: 0.3em;
  line-height: 1;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.cover__title-line_first {
  line-height: 1.15;
}

.cover__title-line {
  display: block;
}

.cover__info {
  justify-content: end;
  align-items: center;
  display: flex;
  gap: 4.875rem;
}

.cover__info-text {
  font-size: 1.375rem;
  line-height: 1.75rem;
}
