/*------------------------------------*\
  #COVER
\*------------------------------------*/

.cover {
  z-index: 1;
  position: relative;
  color: #fff;
  padding-top: 165px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 135px;
}

.cover {
  background: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.cover__title {
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 0.3em;
  line-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cover__title-line--first {
  line-height: 115%;
}

.cover__title-line {
  display: block;
}

.cover__info {
  justify-content: end;
  align-items: center;
  display: flex;
  gap: 78px;
}

.cover__info-text {
  font-size: 22px;
  line-height: 28px;
}
