/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer {
  padding-top: 11.25rem;
  padding-bottom: 5.625rem;
  font-size: 1.125rem;
}

.footer__address {
  justify-self: flex-start;
}

.footer__nav-list {
  list-style: none;
}

.footer__social-list {
  justify-self: end;
  list-style: none;
  display: flex;
  gap: 3rem;
}

.footer__social-item {
  width: 3rem;
  height: 3rem;
}

.footer__social-link {
  display: block;
  width: 100%;
  height: 100%;
}
