/*------------------------------------*\
  #LAYOUT
\*------------------------------------*/

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

.container-inner {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
