/*------------------------------------*\
  #LAYOUT
\*------------------------------------*/

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

.container-inner {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/*------------------------------------*\
  #UTILS
\*------------------------------------*/

.text-transform_uppercase {
  text-transform: uppercase;
}

.text-transform_lowercase {
  text-transform: lowercase;
}

.text-align_left {
  text-align: left;
}

.text-align_center {
  text-align: center;
}

.text-align_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.overlay::after {
  z-index: -1;
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.6;
  pointer-events: none;
}

.word-space_sm {
  word-spacing: 1.0625rem;
}

.word-space_md {
  word-spacing: 1.375rem;
}

.grid_gap_sm {
  gap: 1.5625rem;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/*
  #Address
*/

.address {
  font-style: normal;
  width: 15rem;
  line-height: 1.5rem;
}

/*
  #Link
*/

.link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.link_active {
  border-bottom: none;
}

/*
  #Button
*/

.bet-button {
  max-height: 3.25rem;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-size: 1.375rem;
  padding: 0.75rem 2rem;
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
}

/*
  #Typography
*/

.h2 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: bold;
}

/*
  #Card
*/

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background: url(../images/card-lot-02.jpg);
}

.card_type_art {
  background: url(../images/card-lot-03.jpg);
}

.card {
  z-index: 1;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.125rem 2.5rem;
  height: 100%;
  background-size: cover;
}

.card__title {
  font-size: 1.375rem;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.card__description {
  font-size: 1.25rem;
  line-height: 1.2;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header {
  padding-top: 5.875rem;
  padding-bottom: 5.875rem;
  font-size: 1.125rem;
}

.header__nav {
  align-self: center;
  text-wrap: nowrap;
}

.header__nav-list {
  display: flex;
  gap: 2rem;
  list-style: circle;
}

.header__nav-item:first-child {
  list-style-type: none;
}

.header__link_active {
  border: none;
}

.header__logo {
  display: block;
  justify-self: center;
  max-width: 9.25rem;
  max-height: 6.5625rem;
}

.header__logo-image {
  height: 100%;
}

.header__address {
  justify-self: end;
  align-self: center;
}

/*------------------------------------*\
  #COVER
\*------------------------------------*/

.cover {
  z-index: 1;
  position: relative;
  color: #fff;
  padding-top: 10.3125rem;
  padding-bottom: 3.125rem;
  display: flex;
  flex-direction: column;
  gap: 8.4375rem;
  background: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.cover__title {
  font-size: 6.25rem;
  font-weight: bold;
  letter-spacing: 0.3em;
  line-height: 1;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.cover__title-line_first {
  line-height: 1.15;
}

.cover__title-line {
  display: block;
}

.cover__info {
  justify-content: end;
  align-items: center;
  display: flex;
  gap: 4.875rem;
}

.cover__info-text {
  font-size: 1.375rem;
  line-height: 1.75rem;
}

/*------------------------------------*\
  #LOTS
\*------------------------------------*/

.lots {
  padding-top: 11.25rem;
  padding-bottom: 11.3125rem;
}

.lots__heading {
  margin-bottom: 1.6875rem;
}

.lots__list {
  list-style: none;
  margin-bottom: 1.875rem;
  display: flex;
  flex-wrap: wrap;
}

.lots__list-item {
  min-height: 28.125rem;
  width: 430px;
  flex-grow: 1;
}

.lots__more {
  text-decoration: none;
  font-size: 1.25rem;
}

/*------------------------------------*\
  #ABOUT
\*------------------------------------*/

.about__logo {
  grid-column: 1 / span 1;
  max-height: 15rem;
  max-width: 15rem;
  background-color: black;
  border-radius: 50%;
  justify-self: center;
  padding: 3.9375rem 2.875rem;
}

.about__logo-image {
  width: 100%;
  height: 100%;
}

.about__info {
  padding-top: 6.25rem;
  grid-column: 2 / span 2;
}

.about__heading {
  margin-bottom: 6.25rem;
}

.about__text {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer {
  padding-top: 11.25rem;
  padding-bottom: 5.625rem;
  font-size: 1.125rem;
}

.footer__nav-list {
  list-style: none;
}

.footer__social-list {
  justify-self: end;
  list-style: none;
  display: flex;
  gap: 3rem;
}

.footer__social-item {
  width: 3rem;
  height: 3rem;
}

.footer__social-link {
  display: block;
  width: 100%;
  height: 100%;
}
