/*------------------------------------*\
  #UTILS
\*------------------------------------*/

.text-transform_uppercase {
  text-transform: uppercase;
}

.text-transform_lowercase {
  text-transform: lowercase;
}

.text-align_left {
  text-align: left;
}

.text-align_center {
  text-align: center;
}

.text-align_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.overlay::after {
  z-index: -1;
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.6;
  pointer-events: none;
}

.word-space_sm {
  word-spacing: 1.0625rem;
}

.word-space_md {
  word-spacing: 1.375rem;
}

.grid_gap_sm {
  gap: 1.5625rem;
}
